.earning-calendar .template_list {
    z-index: 9999;
    position: absolute;
    left: 12px;
    top: 46px;
    width: calc(100% - 21px);
    display: none;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    box-sizing: border-box;
    background: #ececec;
    border-width: 0 1px 1px;
    border-color: #d5d5d5;
    border-style: solid;
}
.earning-calendar .template_list.active {
    display: flex;
}
.earning-calendar.template_list hr {
    display: block;
    margin: 0 auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    border-top: unset;
    border-bottom: 1px solid #575757;

}
.earning-calendar .template_list_item {
    padding: 8px;
    border-bottom: 1px solid black;
}
.earning-calendar .template_list_item:hover {
    background: #d5d5d5;
}
.earning-calendar input.template_input {
    width: 100%;
    box-sizing: border-box;
}

.earning-calendar .settings_tab > div {
    padding-top: 20px;
}
.earning-calendar table {
    width: 100%;
    max-width: 1400px;
    border-collapse: collapse;
}

.earning-calendar td,
.earning-calendar tr,
.earning-calendar table {
    border: 1px solid black;
}

.earning-calendar td {
    padding: 10px;
}

.replace-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 20px;
}
.replace-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.replace-item input {
    width: 240px;
}
.replace-add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2271b1;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #2271b1;
    margin: 10px 0;
    cursor: pointer;
}

.replace-item-remove {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    border: 1px solid #2271b1;
    cursor: pointer;
}
.replace-item-remove p {
    transform-origin: center;
    transform: rotate(45deg);
    margin: auto;
    height: 100%;
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: #2271b1;
}


.earning-calendar .message-popup {
    position: absolute;
    right: 20px;
    top: 20px;
    min-width: 300px;
    padding: 25px 10px;
    border-left: 5px solid #f0f0f1;
    border-radius: 0 10px 10px 0;
    color: #f0f0f1;
    transition-duration: .3s;
}

.earning-calendar .message-popup.hidden {
    transform: translateX(200%);
}

.earning-calendar .message-popup.view {
    transform: translateX(0);

}

.earning-calendar .message-popup.close {
    top: 0!important;
    transform: translateY(-300%);
}

.earning-calendar .message-popup.error {
    background: #dc3545;
    border-color: #bd1120;
}
.earning-calendar .message-popup.message {
    background: #17a2b8;
    border-color: #138b9e;
}
.earning-calendar .message-popup.done {
    background: #28a745;
    border-color: #1f8838;
}